*{
  margin: 0;
  padding: 0;
}


.navbar{
    background-color: navy;
    height: 15vh;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
nav,h1{
    color: aqua;
    font-size: 18px;

}
nav,p{
    color: aqua;
    font-size: 15px;
}

nav,a{
    color: aqua;
    padding-top: 16px;
}
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}
#video-bg video{
        width: 100%;
        height: 100%;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}
.wrapper img {
    width: 33.33%;
  }
  
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column; /* Display images in a single column on mobile phones */
    }
  
    .wrapper img {
      width: 95%; /* Adjust the width to fit the column on mobile phones */
    }
  }
  .nav2{
    background-color: navy;
    height: 10vh;
    width: 100%;

}
#chuma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}
#lee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}
#mutinda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}
.container{
    background-image: url(🔥⚽Digital\ kerugoya\ sportiff\(2nd\)⚽🔥\ 20220507_204722.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav2,p{
    color: blue;
    font-size: 15px;
}
.navbar-toggle {
    display: none;
    cursor: pointer;
  }
  .toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color:aqua;
    margin-bottom: 5px;
  }
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .navbar-menu li {
    margin-left: 5px;
    margin-right: 5px;
  }
  @media only screen and (max-width: 600px) {
    .navbar-menu {
      display: none;
    }
    .navbar-toggle {
        display: block;
        float: right;
        padding-right: 15px;
      }
      .navbar-menu.responsive {
        display: flex;
        flex-direction: column;
        float: right;
      }
      .navbar-menu.responsive li {
        margin-right: 0;
        margin-bottom: 0%;
        float: right;
      }
    }
    .about{
      background-image: url(🔥⚽Digital\ kerugoya\ sportiff\(2nd\)⚽🔥\ 20220507_204722.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      padding-left: 20px;
    }

  



 